node_modules
dist
dist-ssr
*.local
storage/videos/*
storage/images/*
storage/audio/*
storage/subtitles/*
storage/cookies/*
!storage/.gitkeep
runs/*
!runs/.gitkeep
.venv
__pycache__
*.pyc
.env
afridrama.db
*.db
